// Primary Header Modal
#primary-update-modal.modal.edit-modal.fade(
  tabindex="-1",
  role="dialog",
  aria-labelledby="primary-header-modalLabel",
  aria-hidden="true"
)
  .modal-dialog.modal-lg.modal-dialog-centered
    .modal-content
      // Modal header
      .modal-header.modal-colored-header.bg-primary
        h4#primary-header-modalLabel.modal-title Edit Category
        button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;

      // Modal body
      .modal-body
        form#form-udpate-post
          // Name input
          .form-group.mb-3
            label(for="name") Name
            input#name-update.form-control(
              type="text",
              name="name",
              value="name"
            )

          // Image input
          .form-group.mb-3
            label(for="image") image
            input#image-update.form-control(type="text", name="image")

      // Modal footer      
      .modal-footer
        button.btn.btn-light(type="button", data-dismiss="modal") Cancle
        button#button-save-update.btn.btn-primary(type="button") Save

