doctype html
head
  meta(charset="utf-8")
  title Posts | Tam Nguyen
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(
    content="A fully featured admin theme which can be used to build CRM, CMS, etc.",
    name="description"
  )
  meta(content="Coderthemes", name="author")
  include ../partials/linkAccess.pug
body.loading(
  data-layout="detached",
  data-layout-config=`{ "leftSidebarCondensed":false,"darkMode":false, "showRightSidebarOnStart": true }`
)
  include ../partials/topbar.pug
// Start Content
.container-fluid
  // Begin page
  .wrapper
    include ../partials/sidebar.pug
    .content-page
      .content
        include ../partials/pageTitle.pug
        .row
          .col-12
            .card
              .card-body
                .row.mb-2
                  .col-sm-4
                    button.btn.btn-danger.mb-2(
                      type="button",
                      data-toggle="modal",
                      data-target="#primary-header-modal"
                    )
                      i.mdi.mdi-plus-circle.mr-2
                      | Add Category
                  .col-sm-8
                    .text-sm-right
                      button.btn.btn-success.mb-2.mr-1(type="button")
                        i.mdi.mdi-settings
                      button.btn.btn-light.mb-2.mr-1(type="button") Import
                      button.btn.btn-light.mb-2(type="button") Export
                  // end col
                .table-responsive
                  table#posts-table.table.table-centered.w-100.dt-responsive.nowrap
                    thead.thead-light
                      tr
                        th.all id
                        th Category
                        th(style="width: 85px") Action
                    tbody
                      each category in categories
                        tr
                          td #{ category._id }
                          td #{ category.name }
                          td.table-action
                            a#btn-update-category.action-icon(
                              data-toggle="modal",
                              data-target="#primary-update-modal",
                              value=`${category._id}`,
                              style="cursor: pointer"
                            )
                              i.mdi.mdi-square-edit-outline
                            a#btn-delete-category.action-icon(
                              value=`${category._id}`,
                              style="cursor: pointer"
                            )
                              i.mdi.mdi-delete
        // Footer
        include ../partials/footer.pug

include ../partials/createCategory.pug
include ../partials/editCategory.pug
include ../partials/rightSidebar.pug
include ../partials/scriptAccess.pug
script.
  $(document).ready(function () {
    // Catch event delete post
    $("[id=btn-delete-category]").click(function () {
      var id = $(this).attr("value");
      $.ajax({
        url: "/api/categories/" + id,
        type: "DELETE",
        success: function () {
          location.reload();
        },
      });
    });

    // Catch event update post
    $("[id=btn-update-category]").click(function () {
      var id = $(this).attr("value");
      $.ajax({
        url: "/api/categories/" + id,
        type: "GET",
        success: function (data) {
          console.log("data: ", data);
          $("#button-save-update").attr("value", data.category._id);
          $("#name-update").val(data.category.name);
          $("#image-update").val(data.category.image);
        },
      });
    });
  });
