doctype html
head
  meta(charset="utf-8")
  title Posts | Tam Nguyen
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(
    content="A fully featured admin theme which can be used to build CRM, CMS, etc.",
    name="description"
  )
  meta(content="Coderthemes", name="author")
  include ../partials/linkAccess.pug

body.loading(data-layout="detached")
  include ../partials/topbar.pug
  // Start Content
  .container-fluid
    // Begin page
    .wrapper
      include ../partials/sidebar.pug
      .content-page
        .content
          include ../partials/pageTitle.pug
          .row
            .col-12
              .card
                .card-body
                  .row.mb-2
                    .col-sm-4
                      button.btn.btn-danger.mb-2(
                        type="button",
                        data-toggle="modal",
                        data-target="#primary-header-modal"
                      )
                        i.mdi.mdi-plus-circle.mr-2
                        | Create Post
                    .col-sm-8
                      .text-sm-right
                        button.btn.btn-success.mb-2.mr-1(type="button")
                          i.mdi.mdi-settings
                        button.btn.btn-light.mb-2.mr-1(type="button") Import
                        button.btn.btn-light.mb-2(type="button") Export
                    // end col
                  .table-responsive
                    table#posts-table.table.table-centered.w-100.dt-responsive.nowrap
                      thead.thead-light
                        tr
                          th.all Id
                          th Title
                          th Category
                          th Author
                          th(style="width: 85px") Action
                      tbody#tbody
                        each post in posts
                          tr
                            td #{ post._id }
                            td #{ post.title }
                            td #{ post.category.name }
                            td #{ post.userInfo.name }
                            td.table-action
                              a#btn-update-post.action-icon(
                                href=`/api/posts/editPost/${post._id}`,
                                style="cursor: pointer"
                              )
                                i.mdi.mdi-square-edit-outline
                              a#btn-delete-post.action-icon(
                                style="cursor: pointer",
                                value=`${post._id}`
                              )
                                i.mdi.mdi-delete

                    // Pagination
                    include ../partials/pagination.pug

          include ../partials/footer.pug

  include ../partials/scriptAccess.pug
  include ../partials/createPost.pug

  script.
    $(document).ready(function () {
      // Render data table
      const renderData = function () {
        let currentPage = !{JSON.stringify(current)};
        
        $.ajax({
          url: `/api/posts/data/${currentPage}`,
          type: "GET",
          success: function (data) {
            document.getElementById("tbody-posts").innerHTML = "";
            data.posts.map(
              (post) =>
                (document.getElementById("tbody-posts").innerHTML += `
                <tr>
                  <td>${post._id}</td>
                  <td>${post.title}</td>
                  <td>${post.category.name}</td>
                  <td>${post.userInfo.name}</td>
                  <td class="table-action">
                      <a 
                        id="btn-update-post" 
                        class="action-icon" 
                        href="/api/posts/editPost/${post._id}" 
                        style="cursor: pointer"> 
                        <i class="mdi mdi-square-edit-outline"></i>
                      </a>
                      <a id="btn-delete-post" class="action-icon" value="${post._id}" style="cursor: pointer"> 
                        <i class="mdi mdi-delete"></i>
                      </a>
                  </td>
                </tr>
            `)
            );
          },
        });
      };

       // Delete post
      const deletePost = function (id) {
        $.ajax({
          url: "/api/posts/manager/" + id,
          type: "DELETE",
          success: function () {
            renderData();
          },
        });
      };

      // Reset Form Create Post
      const resetFormCreate = function () {
        $("#title").val("");
        $("#category").val("");
        $("#logo").val("");
        $("#content").val("");
        $("#image").val("");
      };

      // Add post 
      const addPost = function (data) {
        $.ajax("/api/posts/data/1", {
          data: JSON.stringify(data),
          type: "POST",
          headers: { Authorization: "Bearer " + localStorage.getItem("token") },
          contentType: "application/json",
          success: function (data) {
            renderData();
            resetFormCreate();
          },
        });
      }

      // Catch event create post
      $("#button-save").on("click", function () {
        // Get data
        let title = $("#title").val();
        let category = { _id: $("#category").val(), name: $("#category option:selected").text() };
        let logo = $("#logo").val();
        let content = $("#content").val();
        let image = $("#image").val();
        let user = !{JSON.stringify(user)};
        let userInfo = {
          _id: user._id,
          name: user.name,
          email: user.email,
          avatar: user.avatar,
        };

        // Create data
        let data = {
          title,
          category,
          logo,
          content,
          image,
          userInfo,
        };

        // Call function add post
        addPost(data);
      });

      // Catch event delete post
      $("#tbody-posts").on("click", "#btn-delete-post", function () {
        let id = $(this).attr("value");
        deletePost(id);
      });
    });
