<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="utf-8" />
    <title>Posts | Tam Nguyen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      content="A fully featured admin theme which can be used to build CRM, CMS, etc."
      name="description"
    />
    <meta content="Coderthemes" name="author" />

    {{>linkAccess}}
  </head>

  <body
    class="loading"
    data-layout="detached"
    data-layout-config='{"leftSidebarCondensed":false,"darkMode":false, "showRightSidebarOnStart": true}'
  >
    {{>topbar}}
    <!-- Start Content-->
    <div class="container-fluid">
      <!-- Begin page -->
      <div class="wrapper">
        {{>sidebar}}
        <div class="content-page">
          <div class="content">

            {{>pageTitle}}

          <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <Button  
                              class="btn btn-danger mb-2"  
                              type="button"
                              class="btn btn-primary"
                              data-toggle="modal"
                              data-target="#primary-header-modal">
                          <i class="mdi mdi-plus-circle mr-2"></i>Create Post</Button>
                        </div>
                        <div class="col-sm-8">
                            <div class="text-sm-right">
                                <button type="button" class="btn btn-success mb-2 mr-1"><i class="mdi mdi-settings"></i></button>
                                <button type="button" class="btn btn-light mb-2 mr-1">Import</button>
                                <button type="button" class="btn btn-light mb-2">Export</button>
                            </div>
                        </div><!-- end col-->
                    </div>

                    <div class="table-responsive">
                        <table  id="posts-table" class="table table-centered w-100 dt-responsive nowrap" >
                            <thead class="thead-light">
                                <tr>
                                   <th class="all">id</th>
                                  <th>Title</th>
                                  <th>Category</th>
                                  <th>Author</th>
                                  <th style="width: 85px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                               {{#each posts}}
                                <tr>
                                    <td>
                                        {{id}}
                                    </td>
                                    <td>
                                       {{title}}
                                       <div>
                                        <p class="m-0 d-inline-block align-middle font-16">
                                            <span class="text-warning mdi mdi-star"></span>
                                            <span class="text-warning mdi mdi-star"></span>
                                            <span class="text-warning mdi mdi-star"></span>
                                            <span class="text-warning mdi mdi-star"></span>
                                            <span class="text-warning mdi mdi-star"></span>
                                        </p>
                                       </div>
                                    </td>
                                    <td>
                                        {{category}}
                                    </td>
                                    <td>
                                        {{author}}
                                    </td>
                                    <td class="table-action">
                                        <a id="btn-update-post" 
                                          href="/api/posts/editPost/{{id}}"
                                          class="action-icon" style="cursor: pointer;"><i class="mdi mdi-square-edit-outline"></i></a>
                                        <a id="btn-delete-post" 
                                          value={{id}}  class="action-icon" style="cursor: pointer;"> <i class="mdi mdi-delete"></i></a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div>
    <!-- end row -->
            {{>footer}}
          </div>
        </div>

      </div>
      <!-- End page -->
    </div>
    <!-- End Content-->

    {{>createPost}}

     <script src="/assets/js/vendor.min.js"></script>
    <script src="/assets/js/app.min.js"></script>

  <script>
    $(document).ready(function() {
      // Catch event delete post
      $('[id=btn-delete-post]').click(function() {
          var id = $(this).attr("value");
          $.ajax({
            url: "/api/posts/" + id,
            type: "DELETE",
            success: function() {
              location.reload();
            }
          });
      });

    
    });
  </script>
  </body>
</html>